<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

    <title>Redistrict 2020 Plan: {{ page.title }}</title>
    <script>

        function load_plan_map(url, div, state)
        {
            var request = new XMLHttpRequest();
            request.open('GET', url, true);

            function on_loaded_geojson(data)
            {
                function district_popup_content(layer)
                {
                    var index = data.features.indexOf(layer.feature);
                    return 'District ' + (index + 1);
                }
                
                // http://soliton.vm.bytemark.co.uk/pub/cpt-city/cb/qual/tn/Dark2_08.png.index.html
                var colors = [
                    '#269D78', '#D75F1C', '#7572B1', '#E5308A',
                    '#68A42C', '#E5AA27', '#A57528', '#666666',
                ];

                var geojson = L.geoJSON(data, {
                    style: function(feature)
                    {
                        var district = data.features.indexOf(feature),
                            color = colors[district % colors.length];
                        return { fillOpacity: .35, color: color };
                    }
                    }).bindPopup(district_popup_content);


                /*
                // On map layer hover: highlight associated table rows
                function on_geojson_mouse_event(evtdata) {
                    const should_apply_highlight = evtdata.type === 'mouseover';
                    const index = data.features.indexOf(evtdata.layer.feature);
                    const tableRowEl = $('table tbody tr').get(index);
                    tableRowEl.classList.toggle('highlighted', should_apply_highlight);
                }
                geojson.on('mouseover', on_geojson_mouse_event);
                geojson.on('mouseout', on_geojson_mouse_event);


                // On table row hover: highlight map district
                table.querySelectorAll('tbody tr').forEach((elem, j) => {
                    const on_tr_mouse_event = e => {
                        const should_apply_highlight = e.type === 'mouseover';
                        const matched_feature = data.features[j];
                        const layer = Object.values(geojson._layers).find(l => l.feature === matched_feature);
                        const path_elem = layer['_path'];
                        path_elem.classList.toggle('highlight', should_apply_highlight);
                    };
                    elem.addEventListener('mouseover', on_tr_mouse_event);
                    elem.addEventListener('mouseout', on_tr_mouse_event);
                });
                */

                console.log('GeoJSON bounds:', geojson.getBounds());

                //
                /*
                var show_leans = (typeof plan.districts[0].totals['Democratic Wins'] === 'number');
                add_map_pattern_support(show_leans);
                */

                // Initialize the map on the passed div in the middle of the ocean
                var map = L.map(div, {
                    scrollWheelZoom: false,
                    zoomControl: false,
                    center: [0, 0],
                    zoom: 8
                });

                var pane = map.createPane('labels');
                pane.style.zIndex = 650; // http://leafletjs.com/examples/map-panes/
                pane.style.pointerEvents = 'none';

                // Add Toner tiles for base map
                L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_nolabels/{z}/{x}/{y}{r}.png', {
                    attribution: '&copy;<a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy;<a href="https://carto.com/attribution">CARTO</a>',
                    maxZoom: 18
                }).addTo(map);

                // Add a GeoJSON layer and fit it into view
                geojson.addTo(map);
                if(state == 'Alaska') {
                    map.fitBounds(L.latLngBounds(L.latLng(54.6, -128.8), L.latLng(71.2, -174.1)));
                } else {
                    map.fitBounds(geojson.getBounds());
                }

                // Add Toner label tiles for base map
                L.tileLayer('https://stamen-tiles.a.ssl.fastly.net/toner-labels/{z}/{x}/{y}{r}.png', {
                    attribution: '&copy;<a href="http://stamen.com/">Stamen</a>',
                    pane: 'labels',
                    maxZoom: 18
                }).addTo(map);

                map.addControl(L.control.zoom({'position': 'topright'}));
                map.addControl(new L.Control.PartyLegend({'position': 'topleft'}));
            }

            request.onload = function()
            {
                if(request.status >= 200 && request.status < 400)
                {
                    // Returns a GeoJSON dictionary
                    var data = JSON.parse(request.responseText);
                    console.log('Loaded map:', data);
                    on_loaded_geojson(data);
                }
            };

            request.onerror = function() { /* There was a connection error of some sort */ };
            request.send();
        }

    </script>
</head>
<body>
    <div class="container">
    <h1>
        <a href="/">Redistrict 2020</a>
        ▸
        <a href="/states/{{ page.state | slugify }}.html">{{ page.state }}</a>
        ▸
        {{ page.title }}
    </h1>
    <div class="row">
    <div class="col-lg">
    <dl>
        <dt>State</dt>
        <dd>{{ page.state }}</dd>
        <dt>Legislative Body</dt>
        <dd>{{ page.body }}</dd>
        <dt>Date</dt>
        <dd>
            {{ page.date | date: "%B" }}
            {{ page.date | date: "%d" | plus:'0' }}, 
            {{ page.date | date: "%Y" }}
        </dd>
        <dt>Authoritative Link</dt>
        <dd><a href="{{ page.authoritative_link }}">{{ page.authoritative_link | replace: "/", "/" }}</a></dd>
        {% if page.allabout_link %}
            <dt>All About Redistricting Link</dt>
            <dd><a href="{{ page.allabout_link }}">{{ page.allabout_link | replace: "/", "/" }}</a></dd>
        {% endif %}
        <dt>PlanScore Predictive Model</dt>
        <dd><a href="{{ page.planscore_link }}">{{ page.planscore_link | replace: "/", "/" }}</a></dd>
        {% if page.districtbuilder_link %}
            <dt>DistrictBuilder View</dt>
            <dd><a href="{{ page.districtbuilder_link }}">{{ page.districtbuilder_link | replace: "/", "/" }}</a></dd>
        {% endif %}
        {% if page.davesredist_link %}
            <dt>Dave’s Redistricting App View</dt>
            <dd><a href="{{ page.davesredist_link }}">{{ page.davesredist_link | replace: "/", "/" }}</a></dd>
        {% endif %}
        {% if page.five38_link %}
            <dt>FiveThirtyEight Summary</dt>
            <dd><a href="{{ page.five38_link }}">{{ page.five38_link | replace: "/", "/" }}</a></dd>
        {% endif %}
        {% for file in site.static_files %}
            {% if file.path == page.shapefile_file %}
                <dt>Shapefile</dt>
                <dd><a href="{{ file.path }}">{{ file.name }}</a></dd>
            {% endif %}
        {% endfor %}
        {% for file in site.static_files %}
            {% if file.path == page.blockassignment_file %}
                <dt>Block Assignment File</dt>
                <dd><a href="{{ file.path }}">{{ file.name }}</a></dd>
            {% endif %}
        {% endfor %}
        {% for file in site.static_files %}
            {% if file.path == page.simplegeojson_file %}
                <dt>Simplified GeoJSON File</dt>
                <dd><a href="{{ file.path }}">{{ file.name }}</a></dd>
            {% endif %}
        {% endfor %}
    </dl>
    {{ content }}
    </div>
    <div class="col-lg">
        {% for file in site.static_files %}
            {% if file.path == page.simplegeojson_file %}
                <div id="mapid" style="height: 600px"></div>
                <script>
                    load_plan_map({{ file.path | jsonify }}, document.getElementById('mapid'), {{ page.state | jsonify }})
                </script>
            {% endif %}
        {% endfor %}
    </div>
    </div>
    <hr>
    <p>
        <a href="https://github.com/PlanScore/Redistrict2020">Contribute to Redistrict 2020 on 🐙😺Github</a>
        |
        <a href="/feed.xml">Subscribe to updates with 📢RSS</a>
    </p>
    </div>
</body>
</html>
