<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Redistrict 2020 Plan: {{ page.title }}</title>
</head>
<body>
<div class="container">
    <h1>Redistrict 2020 Plan: {{ page.title }}</h1>
    <dl>
        <dt>State</dt>
        <dd>{{ page.state }}</dd>
        <dt>Date</dt>
        <dd>{{ page.date | date_to_string }}</dd>
        <dt>Authoritative Link</dt>
        <dd><a href="{{ page.authoritative_link }}">{{ page.authoritative_link }}</a></dd>
        <dt>PlanScore Predictive Model</dt>
        <dd><a href="{{ page.planscore_link }}">{{ page.planscore_link }}</a></dd>
        <dt>Preceding Enacted Plan</dt>
        <dd><a href="{{ page.predecessor_link }}">{{ page.predecessor_link }}</a></dd>
        {% if page.davesredist_link %}
            <dt>Dave’s Redistricting App View</dt>
            <dd><a href="{{ page.davesredist_link }}">{{ page.davesredist_link }}</a></dd>
        {% endif %}
        {% if page.allabout_link %}
            <dt>All About Redistricting Link</dt>
            <dd><a href="{{ page.allabout_link }}">{{ page.allabout_link }}</a></dd>
        {% endif %}
        {% for file in site.static_files %}
            {% if file.path == page.shapefile_file %}
                <dt>Shapefile</dt>
                <dd><a href="{{ file.path }}">{{ file.name }}</a></dd>
            {% endif %}
        {% endfor %}
        {% for file in site.static_files %}
            {% if file.path == page.blockassignment_file %}
                <dt>Block Assignment File</dt>
                <dd><a href="{{ file.path }}">{{ file.name }}</a></dd>
            {% endif %}
        {% endfor %}
    </dl>
    <hr>
    {{ content }}
</div>
</body>
</html>
